<md-content class="md-padding">
    <div layout="row" layout-align="center" style="height:1.3em">
    </div>
    <div layout="row" layout-align="center">
        <h2>Identify Issue</h2>
    </div>

    <div layout="row" layout-align="center">

        <md-input-container>
            <label>Title</label>
            <input ng-model="vm.issue.Title">
        </md-input-container>
        <md-select ng-model="vm.issue.Category" placeholder="Category" layout-align="center start">
            <md-option>Severage</md-option>
            <md-option>Water</md-option>
            <md-option>Waste</md-option>
        </md-select>
    </div>
    <div layout="row" layout-align="center">
        <md-input-container style="width:19em">
            <label>Description</label>
            <textarea ng-model="vm.issue.Description" rows="4" md-maxlength="250"></textarea>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center">
        <md-input-container>
            <input type="text" ng-map-autocomplete ng-model="vm.autocomplete">
        </md-input-container>
    </div>
    <!-- <input type="text" ng-map-autocomplete ng-model="vm.autocomplete" /> -->
    <div layout="row" layout-align="center">
        <div map-lazy-load="https://maps.google.com/maps/api/js" style="width:40em">
            <ng-map center="[40.74, -74.18]" zoom="14" on-center-changed="vm.centerChanged()"></ng-map>
            <marker position="[40.74, -74.18]"></marker>
            </ng-map>
        </div>
    </div>
    <div layout="row" style="height:2em"></div>
    <div layout="row" layout-align="center">
        <md-button class="md-raised md-accent" flex="20" ng-click="vm.create()">
            Add
        </md-button>
    </div>
</md-content>