<div layout="row" layout-align="center center" flex>

    <md-content class="md-padding">
        <div layout="row" layout-align="center">
            <h2>Citizen Sign Up</h2>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Name</label>
                <input ng-model="vm.user.FullName">
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input ng-model="vm.user.Email" type="email">
            </md-input-container>

        </div>
        <div layout="row">
            <md-input-container>
                <label>Password</label>
                <input ng-model="vm.user.Password" type="password">
            </md-input-container>
            <md-input-container>
                <label>Confirm Password</label>
                <input type="password">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Profession</label>
                <input ng-model="vm.user.Profession">
            </md-input-container>
            <md-input-container>
                <label>Phone</label>
                <input ng-model="vm.user.Phone" type="number">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>CNIC</label>
                <input ng-model="vm.user.CNIC" type="number">
            </md-input-container>
            <md-datepicker ng-style="{'margin-top' : '15px'}" ng-model="vm.user.Date" md-placeholder="Date of Birth"></md-datepicker>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Address</label>
                <input ng-model="vm.user.Address">
            </md-input-container>
            <md-input-container>
                <label>Postal Code</label>
                <input ng-model="vm.user.PostalCode" type="number">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>City</label>
                <input ng-model="vm.user.City">
            </md-input-container>
            <md-input-container>
                <label>Town</label>
                <input ng-model="vm.user.Town" type="email">
            </md-input-container>
        </div>
        <div layout="row" layout-align="center">
            <md-button class="md-raised md-accent" flex="50" ng-click="vm.signup()">
                Continue
            </md-button>
        </div>
    </md-content>
</div>