<div layout="row" layout-align="center center" flex>

    <md-content class="md-padding">
        <div layout="row" layout-align="center">
            <h2>Citizen Sign Up</h2>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Full Name</label>
                <input ng-model="vm.user.title">
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input ng-model="vm.user.email" type="email">
            </md-input-container>

        </div>
        <div layout="row">
            <md-input-container>
                <label>Password</label>
                <input ng-model="vm.user.title" type="password">
            </md-input-container>
            <md-input-container>
                <label>Confirm Password</label>
                <input ng-model="vm.user.title" type="password">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Profession</label>
                <input ng-model="vm.user.title">
            </md-input-container>
            <md-input-container>
                <label>Phone</label>
                <input ng-model="vm.user.email" type="number">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>CNIC</label>
                <input ng-model="vm.user.title" type="number">
            </md-input-container>
            <md-datepicker ng-style="{'margin-top' : '15px'}" ng-model="birthday" md-placeholder="Date of Birth"></md-datepicker>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Address</label>
                <input ng-model="vm.user.title">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>City</label>
                <input ng-model="vm.user.title">
            </md-input-container>
            <md-input-container>
                <label>Town</label>
                <input ng-model="vm.user.email" type="email">
            </md-input-container>
        </div>
        <div layout="row" layout-align="center">
            <md-button class="md-raised md-accent" flex="50">
                Continue
            </md-button>
            <!-- <md-button class="md-raised md-primary" ui-sref="signup-journalist">
            Signup As Journalist
        </md-button>
        <md-button class="md-raised md-primary" ui-sref="signup-authority">
            Signup As Authority
        </md-button> -->
        </div>
    </md-content>
</div>